body {
    margin: 0;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s ease;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: 13px;
    background: url(assets/main-bg-compressed.png); 
    background-size: cover;
}

.arc-gif {
    position: relative;
    right: 0;
    bottom: 0;
}

.dialogBox {
    width: 100px;
    height: 180px;
    background-color: red;
    position: absolute;
    left: -20px;
    bottom: 0;
    transform: translate(-50%, 0%);
    display: none;
}

header {
    color: #FFF;
    text-align: center;
    padding: 1rem;
    background: url(/./assets/paint-splat.png);
    background-size: cover;
    background-position: center;
    filter: invert(1);
    /* height: 1100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .2s ease-in-out; 
    cursor: pointer;
}

header:hover {
    filter: drop-shadow(2px 4px 6px black);
    color: #FFF;
    transition: .2s ease-in-out;
}

header h1 { 
    margin-bottom: 0;
    font-size: 70px;
    letter-spacing: -7px;
    font-weight: 700;
    animate: slideInLeft;
    animation-duration: 1s;
}

header h3 {
    margin-top: 0;
    letter-spacing: 20px;
    font-size: 18px;
    font-weight: unset;
}

.custom-nav {
    background-color: transparent;
    padding: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.custom-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    transition: 1s ease;
}

.custom-nav ul li {
    padding: 10px 30px;
    width: 100%;
    text-align: center;
    background-color: rgba(64, 224, 208, 0.8);
    cursor: pointer;
    transition: .1s ease-in-out;
    border: 3px solid transparent;
}

.custom-nav ul li:hover,
.custom-nav ul li.active { 
    background-color: #FFF;
    color: #000000;
    transform: translateY(5px);
    transition: .1s ease-in-out;
    animation: changeBorder 5s infinite;
    border: 3px solid;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.sub-wrapper {
    width: 1600px;
    max-width: 1600px;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 5px;
}

.main-content.announcement {
    text-align: center;
    color: #ff9797;
}

.main-content {
    background: rgba(0,0,0,0.9);
    color: #FFFFFF;
    padding: 20px;
    font-weight: 700;
}

.main-content.left,
.content-with-img.right:nth-child(even) .main-content {
    background: rgba(0,0,0,0.9);
    color: #FFFFFF;
    transition: .5s ease-in-out;
}

.main-content.left:hover, 
.content-with-img.right:nth-child(even) .main-content:hover {
    background: #000;
    transition: .5s ease-in-out;
}

.main-content.right,
.content-with-img.left:nth-child(even) .main-content {
    background: rgb(0 29 55 / 80%);
    color: #FFFFFF;
    transition: .5s ease-in-out;
}

.main-content.right:hover,
.content-with-img.left:nth-child(even) .main-content:hover {
    background: rgb(0 29 55 / 100%);
    transition: .5s ease-in-out;
}

.main-content p {
    margin-top: 0;
}

.no-margin {
    margin: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.content-with-img {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-with-img div img {
    height: 400px;
}

.answer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.answer.right{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}

/* .main-content.right h1, .main-content.right p {
    text-align: right;
} */

.welcome-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.left-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper, .sub-wrapper, header {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.footer-container {
    padding: 20px 0;
    background: transparent;
    color: #FFF;
    margin: 10px 0 0;
    font-weight: 700;
}

.footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 9999;
    display: none;
}

.main-content .no-margin.announcement > span {
    font-size: 13px;
    text-transform: uppercase;
}

.welcome-gif {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.main-content.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-gif > img {
    width: 100%;
    transform: translateY(-350px);
}

.welcome-gif > img::before, .welcome-gif > img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    pointer-events: none; 
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.welcome-gif> img:hover::before, .welcome-gif> img:hover::after {
    opacity: 1;
}

.blog-content,
.patch-content {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
}

.blog-content p,
.patch-content p {
    margin: 0;
}

.blog-content p br,
.patch-content p br {
    content: "";
}

.main-content.background {
    display: flex;
    flex-direction: row;
}

.andrew-background {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
} 

.andrew-background .containers {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;    
}

.container-two {
    text-align: right;
}

.main-container.resume {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main-content.resume > img {
    width: 100%;
}

.main-content.education h1,
.main-content.personality h1 {
    color: #7abdff;
    margin-bottom: 0 !important;
}

.main-content.education div > h4 {
    margin-top: 0;
}

.main-content.education div > p {
    text-align: justify;
}

.main-content.best-video {
    text-align: center;
}

.lang-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.lang-images > p {
    margin: 0;
}

.main-content.best-video h1 a:hover {
    color: #ff9797;
}

.main-content.best-video h1 > a {
    color: #fff;
}

.language-img-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.lang-images > img {
    width: 250px;
    height: 250px;
}


/* ARC CSS */

.arc-gif {
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.chat-bubble {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease;
}

.sub-wrapper header > h1 {
    animation-duration: 1s;
}

.main-content.personality p > a {
    color: #FFF;
}

.main-content.personality p > a:hover {
    color: #000;
}

.text-center {
    text-align: center;
}

.link-elegant:hover {
    background-color: #7abdff;
    padding: 20px; 
}

/* KEYFRAMES */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes changeBorder {
    0% { border-color: red; } /* Start color */
    25% { border-color: blue; } /* Change to blue at 25% */
    50% { border-color: green; } /* Change to green at 50% */
    75% { border-color: yellow; } /* Change to yellow at 75% */
    100% { border-color: red; } /* Back to red at 100% */
}



/* SCROLLBAR */

* {
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(64, 224, 208, 1);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
