@font-face {
  font-family: 'SD Dystopian';
  src: url('./fonts/Sddystopiandemo-GO7xa.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SD Dystopian', monospace;
  background-color: black;
  color: white;
}
